/* Index Page */
.parallax-container {
  min-height: 380px;
 line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
   }

 #main-header{
     opacity:.9;
 }

#icons{
 color:#203a3a;
}

h1{
 font-family: 'Bungee Shade', cursive;
 font-size: 40px;
 
}

#welcome-text{
 background-color: white;
 color: #203a3a;
 
}
#sub-header{
 background-color: #009e89;
 padding: 15px;
 font-weight: 20px;
 border: 2px solid white;
}
.button-center{
 float: right;
width: 70%;
padding: 10px;
 display: block;
 margin-left: auto;
 margin-right: auto;

}
#start-button{
 text-align: center;
 width: 70%;
 
}

#perrito{
 margin-top: -200px;
 width:1000px;
 height: 1000px;
}

.modal-content{
 color: black;
}

/* Survey Html */


#nav{
 font-family: 'Bungee Shade', cursive;
 background-color: #1e6666;
}

h2, h3 {
 font-size: 30px;
}


.select{
 background-color: white;
}